# Advanced settings

# Preferred API backend. Uncomment the second line if e621 is blocked for you.
# this might cause problems and HTTPS support is flaky at best.
baseurl="https://e621.net"
# baseurl="http://e926.net"

# How long to wait between requests to the API. This will prevent "Too Many Requests" error, but if the process is too slow for you, lower this value.
sleeprate=0.4

# Set this to 1 to always run in update mode regardless of arguments.
update=0

# Recursive mode. Remove processed.txt if you change this setting.
recursive=0

# User-added settings
